Function, Modules, and Package

In [12]:
#Function Definition
def printme(str_input):
    print(str_input)

printme("Ayo Belajar Fungsi")
printme("Ayo Semangat")

Ayo Belajar Fungsi
Ayo Semangat

In [10]:
def rumus_persegi(p,l):   
    print(p*l)
rumus_persegi(10,5)

50

In [16]:
def nama_makanan (makanan1,makanan2):
    print( makanan1, makanan2)
    
nama_makanan('nasi goreng','bakso')

nasi goreng bakso

In [21]:
def changeme(mylist):
    mylist=mylist+[1,2,3,4]
    print("\nValues outside the function", mylist)
    return mylist
mylist = [10,20,30]
print("",mylist)
mylist = changeme(mylist)
print("",mylist)

 [10, 20, 30]

Values outside the function [10, 20, 30, 1, 2, 3, 4]
 [10, 20, 30, 1, 2, 3, 4]

In [22]:
def rumus_persegi(p,l):   
    print(p*l)
rumus_persegi(10,5)

50

In [27]:
def rumus_persegi(p,l):
    luas = p*l
    return luas

print('luasnya adalah : ', rumus_persegi(12,14))

luasnya adalah :  168

In [28]:
def rumus_segitiga(a,t):
    luas= (a*t)/2
    print('luas segitiga :%.1f' %luas)
rumus_segitiga(10,20)

luas segitiga :100.0

In [31]:
def rumus_segitiga(a,t):
    luas= (a*t)/2
    return luas

print('luas segitiga adalah : ',rumus_segitiga(16,24))

luas segitiga adalah :  192.0

In [33]:
def printinfo( name, age):
    print("name: ", name)
    print("age: ", age)
printinfo(name='milo',age=4)

name:  milo
age:  4

In [35]:
def nama_orang(*nama):
    print('teman saya namanya: ' + nama[1])
nama_orang('milo','moshi','meshi','maya')

teman saya namanya: moshi

In [37]:
def nama_makanan(*nama):
    print(nama[2])
nama_makanan('ketoprak','mie ayam','nasi padang')

nasi padang

In [39]:
def nama_makanan(**nama):
    print(nama['nama2'])
nama_makanan(nama1='bakso',nama2='ikan',nama3='ayam')

ikan

In [36]:
def printinfo( name, age = 20):
    print("name : ", name)
    print("age : ", age)
    print("")

printinfo( age=35, name='milo')
printinfo( age=28, name='meshi')
printinfo(name='maya')
printinfo(name='moshi')

name :  milo
age :  35

name :  meshi
age :  28

name :  maya
age :  20

name :  moshi
age :  20

In [ ]:
def printinfo( arg1, *tuplevar):
    print('argi:', arg1)
    print('vartuple: ', vartuple)
    print('')

In [ ]:
def person_car(total_data, **kwargs):
    print('total data : ')

In [41]:
sum = lambda arg1, arg2 : arg1 + arg2

#lambda function similar to:
#def sum(arg1, arg2):
#       arg1+arg2

print("value of total:", sum(10,20))
print("value of total:", sum(20,20))

value of total: 30
value of total: 40

In [42]:
def hitung (x,y):
    return x**2 + y**2
hitung (3,4)

25

In [45]:
hitung = lambda x,y : x**2 + y**2
hitung (1,1)

2

In [47]:
total = 10

def sum(arg1,arg2):
    total = arg1 + arg2;
    print("inside the function local total :", total)
sum( 10,20 )
print ("outside the function global total :", total)

inside the function local total : 30
outside the function global total : 10

In [55]:
nama= 'milo' #global

def myfunc():
    nama= 'meshi'
    print('nama saya adalah ', nama)
    
myfunc()
print(nama)

nama saya adalah  meshi
milo